@import 'fonts';
$foreground: black;
$background: rgb(253, 253, 253);


body{
  font-size: 14pt;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  min-height: 10000px;
}

h1,h2,h3,h4,h5,h6{

}

p{

}

a{

  text-decoration: none !important;
  &:hover{

  }
}

.container{
  max-width: 100%;
  padding: 0 50px;
  img{
    max-width: 100%;
  }
  @media(min-width: 900px){
    max-width: 900px;
  }
}

section{
  padding: 60px 0 60px 0;
}


#intro{
  position: relative;
  //margin-top: 50px;
  width: 700px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  #viewport{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 70%;
    z-index: -1;
  }
}
